[Unit]
Description=AgentOS LLM Deamon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root

# Where your script lives
ExecStart=/usr/bin/python3 /opt/agentd/agentd.py

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

TimeoutStopSec=10

[Install]
WantedBy=multi-user.target