[Unit]
Description=AgentOS LLM Deamon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

TimeoutStopSec=10

[Install]
WantedBy=multi-user.target